<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>DoScrum project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}sPHPf Application{% endblock %}</title>
    <style>
            div{
                margin-top: 50px;
                text-align: center;
            }
    </style>
</head>

<body>
    <div id="viewport">
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="back_2">
            sPHPf created by <a href="https://twitter.com/#!/alrik11es">@alrik11es</a>
        </div>
    </div>
        
    {{error_control}}
</body>

</html>