{% extends 'templates/base.twig' %}

{% block title %}Test page 2{% endblock %}

{% block body %}
    <b>This is another page in your Application</b><br/><br/>
    <h3>MOD REWRITE enabled</h3>
    <a href="{{path}}main/index">Return to main</a><br/>
    <h3>MOD REWRITE disabled</h3>
    <a href="{{path}}?page=main/index">Return to main | NO MOD REWRITE</a>
{% endblock %}