{% extends 'templates/base.twig' %}


{% block body %}
    <b>This is a Simple PHP Framework Application</b>
    <br/>
    Mini-menu:
    <br/><br/>
    <a href="{{path}}main/index">Main page</a><br/>
    <a href="{{path}}main/other">Other page</a>
    
{% endblock %}